.jumbotron {
  background-image: url("../Footer/images/bookshelf.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  width: 100%;
  min-height: 300px;
  padding-top: 100px;
  margin: 0px;
  margin-bottom: 5%;
  display: table;
  padding: 20px 20px;
  color: whitesmoke;
  background-size: cover;
  background-attachment: fixed;
  background-color: lightpink;
}
